body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.cadastro-container {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}


.cadastro-container img {
    width: 50px;
    height: 50px;
}

.cadastro-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cadastro-container input[type="email"],
.cadastro-container input[type="password"],
.cadastro-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.cadastro-container input[type="email"]:focus,
.cadastro-container input[type="password"]:focus,
.cadastro-container input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.botaoCadastro {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #0c7179
    , #0d1854);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.botaoCadastro:hover {
    background: linear-gradient(to right, #0d1854, #0c7179);
}

.cadastro-container a {
    color: #0072ff;
    text-decoration: none;
}

.cadastro-container a:hover {
    text-decoration: underline;
}

#imagem{
    width: 100%;
    height: auto;
}

label{
    float: left;
}


.close-btn {
    position: absolute;
    top: 10px;
    left: 10px; /* A seta normalmente fica à esquerda */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

.close-btn:hover {
    color: #ff11009c; /* Cor azul ao passar o mouse */
}
